In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import argparse
import os
from datetime import date, datetime, timedelta
from pprint import pprint

# import dash_auth
import mpld3
import numpy as np
import pandas as pd
import plotly.express as px
import pytz
# from dash import Dash, dcc, html
# from plotnine import *
from pymongo import MongoClient

import sys
sys.path.append("./app/")
from log import get_logger

In [2]:
# ACTIVITY_COOLOFF_MINS = 10
# NUM_SESSIONS_THRESHOLD = 5
LOOKBACK_PERIOD_DAYS = 30
ACTIVATION_WINDOW = 20

# SESSION_COUNT_THRESHOLDS = [1, 3, 5]
CONNECTION_TEMPLATE = """mongodb://{user}:{password}@cluster0-shard-00-00.dbkij.mongodb.net:27017,cluster0-shard-00-01.dbkij.mongodb.net:27017,cluster0-shard-00-02.dbkij.mongodb.net:27017/myFirstDatabase?authSource=admin&replicaSet=atlas-xn7hxv-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true"""
logger = get_logger(__name__)

mongo_user = os.getenv("MONGO_USER")
mongo_password = os.getenv("MONGO_PASSWORD")
if not mongo_user or not mongo_password:
    logger.fatal("MONGO_USER or MONGO_PASSWORD not set!")
    exit(1)

In [3]:
# dt = datetime.today().strftime("%Y-%m-%d")
dt = datetime.strptime("2022-12-19", "%Y-%m-%d").strftime("%Y-%m-%d")

window = LOOKBACK_PERIOD_DAYS + ACTIVATION_WINDOW + 1

In [4]:
client = MongoClient(
    CONNECTION_TEMPLATE.format(user=mongo_user, password=mongo_password),
    unicode_decode_error_handler='ignore',
)

main_db = client.main
events_collection = main_db.log_events
user_collection = main_db.users


end = datetime.strptime(
    dt, "%Y-%m-%d").astimezone(pytz.timezone("US/Pacific"))

In [5]:
# print(end.date(), window)

In [6]:
# get user data

cursor = user_collection.find()
df_users_raw = pd.DataFrame(list(cursor))
df_users_raw = df_users_raw.rename(columns={"_id": "user_id"}, errors="raise")

In [40]:
df_users_raw["signup_dt_pst"] = df_users_raw.created_at.dt.tz_localize(
    pytz.utc).dt.tz_convert('US/Pacific').dt.date
df_users_raw

,user_id,google_id,email,name,last_refreshed,agreed_to_terms,opted_into_marketing,opted_out_of_arbitration,linear_display_name,linear_name,gpt_suggestions_left,gpt_last_suggestion_time,created_at,signup_dt_pst
0,61463e014cf3dfd537c399fb,114116384016626861905,john@generaltask.com,John Reinstra,2023-01-24 03:01:09.051,True,True,False,john,John Reinstra,2.0,2023-01-23 18:22:20.925,NaT,NaN
1,6146889f4cf3dfd537c8d987,104170065788087609074,jack_hamilton@me.com,Jack Hamilton,2023-01-21 00:48:28.715,True,True,False,jack,Jack Hamilton,2.0,2023-01-17 20:21:19.613,NaT,NaN
2,616cd20a2dbdcd0a7ba1642c,111430204519008294549,jreinstra@gmail.com,John Reinstra,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3,61722cb1e1abefac8feddc31,113114292399917872799,scottmai702@gmail.com,Scott Mai,2023-01-19 04:21:33.781,True,False,False,scott,Scott Mai,NaN,NaT,NaT,NaN
4,617343f4e1abefac8f00ab42,116261124166766317401,nolan1299@gmail.com,Nolan Jimenez,2023-01-18 15:55:57.524,True,True,False,nolan,Nolan Jimenez,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2701,63cf7e1de23a0c3c22e09ee5,105459433844171588344,syo@wandiaandco.com,Syovata Mulli,2023-01-24 06:50:16.027,True,True,NaN,,,3.0,1970-01-01 00:00:00.000,2023-01-24 06:43:41.400,2023-01-23
2702,63cf7e27e23a0c3c22e0a81f,104368274358996200685,ageorgescu98@gmail.com,Andrei Georgescu,2023-01-24 06:45:24.856,True,False,NaN,,,0.0,1970-01-01 00:00:00.000,2023-01-24 06:43:51.248,2023-01-23
2703,63cf7ffbe23a0c3c22e20775,102152676686385195503,yves.karlen@gmail.com,Yves Karlen,2023-01-24 06:51:48.975,True,False,NaN,,,0.0,1970-01-01 00:00:00.000,2023-01-24 06:51:39.624,2023-01-23
2704,63cf8273e23a0c3c22e3a486,109537209325935093688,brandms@alumni.stanford.edu,Brandon Sugarman,2023-01-24 07:02:53.531,True,True,NaN,,,3.0,1970-01-01 00:00:00.000,2023-01-24 07:02:11.720,2023-01-23
2705,63cf8372e23a0c3c22e46235,113025607967857543702,olga.safonova@gmail.com,Olga Safonova,2023-01-24 07:07:21.460,True,False,NaN,,,0.0,1970-01-01 00:00:00.000,2023-01-24 07:06:26.054,2023-01-23

In [41]:
df_users = df_users_raw[["user_id", "email", "name", "signup_dt_pst"]].copy()
df_users["user_id"] = df_users["user_id"].astype(str)

print(df_users.shape)
df_users.head()

(2706, 4)

,user_id,email,name,signup_dt_pst
0,61463e014cf3dfd537c399fb,john@generaltask.com,John Reinstra,NaT
1,6146889f4cf3dfd537c8d987,jack_hamilton@me.com,Jack Hamilton,NaT
2,616cd20a2dbdcd0a7ba1642c,jreinstra@gmail.com,John Reinstra,NaT
3,61722cb1e1abefac8feddc31,scottmai702@gmail.com,Scott Mai,NaT
4,617343f4e1abefac8f00ab42,nolan1299@gmail.com,Nolan Jimenez,NaT

In [42]:
end - timedelta(days=window), end

(datetime.datetime(2022, 10, 28, 22, 0, tzinfo=<DstTzInfo 'US/Pacific' PST-1 day, 16:00:00 STD>),
 datetime.datetime(2022, 12, 18, 22, 0, tzinfo=<DstTzInfo 'US/Pacific' PST-1 day, 16:00:00 STD>))

In [50]:
# generate event level data

# query events table
date_filter = {"created_at": {
    "$gt": end - timedelta(days=window)
    , "$lt": end + timedelta(days=2)
}}
cursor = events_collection.find(date_filter)
events_df_raw = pd.DataFrame(list(cursor))
events_df_raw["user_id"] = events_df_raw["user_id"].astype(str)
print(events_df_raw.shape)

(11401541, 4)

In [51]:
# merge with users
events_df = events_df_raw.merge(df_users, on="user_id", how="left")
print(events_df.shape)

(11401541, 7)

In [52]:
# add PST timestamps and sort by user and timestamps
events_df = events_df.rename(columns={"_id": "event_id"}, errors="raise")
events_df["ts_pst"] = events_df.created_at.dt.tz_localize(
    pytz.utc).dt.tz_convert('US/Pacific')
events_df["dt"] = events_df.ts_pst.dt.date  # date in PST

print(events_df.shape)
events_df.head(3)

(11401541, 9)

,event_id,user_id,event_type,created_at,email,name,signup_dt_pst,ts_pst,dt
0,63a2a0cd8f3159fced09f1d5,637c4e37a9499d573b322619,api_hit_/tasks/fetch/,2022-12-21 05:59:41.706,thahn@tcbtech.com,Ted Hahn,2022-11-21,2022-12-20 21:59:41.706000-08:00,2022-12-20
1,63a2a0c98f3159fced09f1d3,637c9d8a6689edbddc5db40c,api_hit_/events/,2022-12-21 05:59:37.289,14farresa@gmail.com,Adrià,2022-11-22,2022-12-20 21:59:37.289000-08:00,2022-12-20
2,63a2a0c28f3159fced09f1d1,629e72d738401adb9db118e7,api_hit_/events/,2022-12-21 05:59:30.791,jiyoon@generaltask.com,Ji Yoon Ahn,2022-06-06,2022-12-20 21:59:30.791000-08:00,2022-12-20

In [53]:
# events_df.to_csv('events_df.csv')

# Event Counts by Type

In [81]:
background_events = [
    "api_hit_/events/",
    "api_hit_/tasks/fetch/",
    "api_hit_/tasks/v3/",
    "api_hit_/pull_requests/fetch/",
    "api_hit_/pull_requests/",
    "api_hit_/overview/views/",
    "api_hit_/recurring_task_templates/backfill_tasks/",
]

df_event_type_counts = (
    events_df
    # [~events_df.event_type.isin(background_events)]
    .groupby(["email", "dt", "event_type"])
    .agg(num_events=('event_id', 'count'))
    # .sort_values(["name", "dt", "num_events"], ascending=False)
    .reset_index()
)
df_event_type_counts.head(2)

,email,dt,event_type,num_events
0,127.0.0.69@gmail.com,2022-11-21,"""open_auth_window_https://api.generaltask.com/...",1
1,127.0.0.69@gmail.com,2022-11-21,"""open_auth_window_https://api.generaltask.com/...",1

In [82]:
df_event_type_counts["total_num_events"] = (
    df_event_type_counts
    .groupby(["dt", "email"])["num_events"]
    .transform(np.sum)
)
# df_event_type_counts["number_of_active_days"] = (
#     df_event_type_counts
#     .groupby(["email"])["num_events"]
#     .transform(np.sum)
# )
df_event_type_counts = (
    df_event_type_counts
    .sort_values(["dt", "total_num_events", "num_events"], ascending=[True, False, False])
)
df_event_type_counts.head()

,email,dt,event_type,num_events,total_num_events
49303,scottmai702@gmail.com,2022-10-28,api_hit_/events/,234,352
49304,scottmai702@gmail.com,2022-10-28,api_hit_/tasks/fetch/,59,352
49305,scottmai702@gmail.com,2022-10-28,api_hit_/tasks/v3/,59,352
23415,jerrylinew@gmail.com,2022-10-28,api_hit_/events/,67,151
23419,jerrylinew@gmail.com,2022-10-28,api_hit_/overview/views/,26,151

In [83]:
signup_start = (end - timedelta(days=20+30)).date()
signup_end = (end - timedelta(days=30)).date()
signup_start, signup_end

(datetime.date(2022, 10, 29), datetime.date(2022, 11, 18))

In [84]:
study_users = df_users[(df_users.signup_dt_pst >= signup_start) & (df_users.signup_dt_pst <= signup_end)]
study_users

,user_id,email,name,signup_dt_pst
214,635f6ad39f7d3452eaa10503,rsreddy@stanford.edu,Rathna Shan Reddy,2022-10-30
215,635f6bd99f7d3452eaa143b4,dhivya.is.working@gmail.com,Dhivya Senthil Murugan,2022-10-30
216,6360552870ac1c7a34d97108,obershjj@whitman.edu,Jake Obershaw,2022-10-31
217,636974a250c0ddc9e088522d,abishan.sutharshan@gmail.com,Abishan Sutharshan,2022-11-07
218,636990db50c0ddc9e0947b54,benji@gravitycapital.vc,Benji Stern,2022-11-07
...,...,...,...,...
339,6377f06efd390ea17f7d43bb,julija.bucar@gmail.com,Julija Bučar,2022-11-18
340,6377f103fd390ea17f7d7587,boodai.m@gmail.com,Mohammed Boodai,2022-11-18
341,6377fe69fd390ea17f82e893,l.geoff.campbell@gmail.com,Logan Campbell,2022-11-18
342,63780773fd390ea17f859b59,radkiddo@gmail.com,Eduardo Freitas,2022-11-18
343,637873c5fd390ea17fa67998,angelakbanzon@gmail.com,Angela Banzon,2022-11-18

In [94]:
activity_per_day = (
    df_event_type_counts
    .drop_duplicates(['email', 'dt', 'total_num_events'])
    [['email', 'dt', 'total_num_events']]
    # .group
)
activity_per_day.head()

                             email          dt  total_num_events
49303        scottmai702@gmail.com  2022-10-28               352
23415         jerrylinew@gmail.com  2022-10-28               151
33572        lea.broudo@zocdoc.com  2022-10-28               117
18070         hans@generaltask.com  2022-10-28                30
15520  garyshen.garyshen@gmail.com  2022-10-28                11

In [95]:
study_activity_per_day = (
    activity_per_day[activity_per_day.email.isin(study_users.email)]
    .merge(df_users[['signup_dt_pst', 'email']], on="email", how="left")
)
study_activity_per_day.head()

                         email          dt  total_num_events signup_dt_pst
0  dhivya.is.working@gmail.com  2022-10-30               568    2022-10-30
1         rsreddy@stanford.edu  2022-10-30               303    2022-10-30
2         rsreddy@stanford.edu  2022-10-31              1213    2022-10-30
3  dhivya.is.working@gmail.com  2022-10-31              1207    2022-10-30
4         obershjj@whitman.edu  2022-10-31              1044    2022-10-31

In [96]:
study_activity_per_day['d1_date'] = study_activity_per_day['signup_dt_pst'] + timedelta(days=1)
study_activity_per_day['d7_date'] = study_activity_per_day['signup_dt_pst'] + timedelta(days=7)
study_activity_per_day['d28_date'] = study_activity_per_day['signup_dt_pst'] + timedelta(days=28)
study_activity_per_day.head()

,email,dt,total_num_events,signup_dt_pst,d1_date,d7_date,d28_date
0,dhivya.is.working@gmail.com,2022-10-30,568,2022-10-30,2022-10-31,2022-11-06,2022-11-27
1,rsreddy@stanford.edu,2022-10-30,303,2022-10-30,2022-10-31,2022-11-06,2022-11-27
2,rsreddy@stanford.edu,2022-10-31,1213,2022-10-30,2022-10-31,2022-11-06,2022-11-27
3,dhivya.is.working@gmail.com,2022-10-31,1207,2022-10-30,2022-10-31,2022-11-06,2022-11-27
4,obershjj@whitman.edu,2022-10-31,1044,2022-10-31,2022-11-01,2022-11-07,2022-11-28

In [97]:
study_activity_per_day['active_d1'] = study_activity_per_day['dt'] == study_activity_per_day['d1_date']
study_activity_per_day['active_d7'] = study_activity_per_day['dt'] == study_activity_per_day['d7_date']
study_activity_per_day['active_d28'] = study_activity_per_day['dt'] == study_activity_per_day['d28_date']
study_activity_per_day.head()

,email,dt,total_num_events,signup_dt_pst,d1_date,d7_date,d28_date,active_d1,active_d7,active_d28
0,dhivya.is.working@gmail.com,2022-10-30,568,2022-10-30,2022-10-31,2022-11-06,2022-11-27,False,False,False
1,rsreddy@stanford.edu,2022-10-30,303,2022-10-30,2022-10-31,2022-11-06,2022-11-27,False,False,False
2,rsreddy@stanford.edu,2022-10-31,1213,2022-10-30,2022-10-31,2022-11-06,2022-11-27,True,False,False
3,dhivya.is.working@gmail.com,2022-10-31,1207,2022-10-30,2022-10-31,2022-11-06,2022-11-27,True,False,False
4,obershjj@whitman.edu,2022-10-31,1044,2022-10-31,2022-11-01,2022-11-07,2022-11-28,False,False,False

In [100]:
len(study_users)

130

In [110]:
counts = (
    study_activity_per_day
    # .groupby('email')
    .sum()
)
counts[2:] / len(study_users) * 100

/var/folders/7t/5pqfnkqd5dn6p9p_16mntn240000gn/T/ipykernel_17116/373630630.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  study_activity_per_day

active_d1     27.692308
active_d7     12.307692
active_d28     6.153846
dtype: object

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [107]:
type(counts)

pandas.core.series.Series

In [16]:
# df_event_type_counts.to_csv("./user_daily_events_by_type_all_types.csv")

In [17]:
num_days_active_threshold = 4


# dt = datetime.today()
dt = datetime.strptime("2022-12-19", "%Y-%m-%d")



print('dt', (dt).strftime("%Y-%m-%d"))
print('dt - 20 days', (dt - timedelta(days=20)).strftime("%Y-%m-%d"))

print('dt - 30 days', (dt - timedelta(days=30)).strftime("%Y-%m-%d"))
print('dt - 30 - 20', (dt - timedelta(days=30+ACTIVATION_WINDOW)).strftime("%Y-%m-%d"))

min(df_event_type_counts.dt)
max(df_event_type_counts.dt)

dt 2022-12-19
dt - 20 days 2022-11-29
dt - 30 days 2022-11-19
dt - 30 - 20 2022-10-30

datetime.date(2022, 10, 28)

datetime.date(2022, 12, 20)

In [18]:
activity_per_day = (
    df_event_type_counts
    .drop_duplicates(['email', 'dt', 'total_num_events'])
    [['email', 'dt', 'total_num_events']]
    # .group
)
# activity_per_day['num_days_active'] = (
#     activity_per_day
#     .groupby(["email"])["dt"]
#     .nunique()
# )
activity_per_day

                             email          dt  total_num_events
15418         jerrylinew@gmail.com  2022-10-28                 5
9769   garyshen.garyshen@gmail.com  2022-10-29               217
30285           npolgado@gmail.com  2022-10-29                62
26652          maz@generaltask.com  2022-10-29                24
15656       jiyoon@generaltask.com  2022-10-29                18
...                            ...         ...               ...
35577            ted@isawesome.one  2022-12-20                18
1851   anson.hwang@eight-acres.com  2022-12-20                17
35688            thahn@tcbtech.com  2022-12-20                15
76             14farresa@gmail.com  2022-12-20                14
15345        jeffrey@ebertland.net  2022-12-20                14

[2575 rows x 3 columns]

In [19]:
activity_per_day

                             email          dt  total_num_events
15418         jerrylinew@gmail.com  2022-10-28                 5
9769   garyshen.garyshen@gmail.com  2022-10-29               217
30285           npolgado@gmail.com  2022-10-29                62
26652          maz@generaltask.com  2022-10-29                24
15656       jiyoon@generaltask.com  2022-10-29                18
...                            ...         ...               ...
35577            ted@isawesome.one  2022-12-20                18
1851   anson.hwang@eight-acres.com  2022-12-20                17
35688            thahn@tcbtech.com  2022-12-20                15
76             14farresa@gmail.com  2022-12-20                14
15345        jeffrey@ebertland.net  2022-12-20                14

[2575 rows x 3 columns]

In [20]:
# num_days_active = pd.DataFrame(
#     activity_per_day
#     .groupby(["email"])["dt"]
#     .nunique()
# ).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise").sort_values(['num_days_active'], ascending=False)
# num_days_active['days_usage_perc'] = num_days_active.num_days_active / (max(activity_per_day.dt) - min(activity_per_day.dt)).days
# # dtale.show(num_days_active)
# num_days_active.head()

In [21]:
(dt - timedelta(days=30+ACTIVATION_WINDOW))
(dt).date()

datetime.datetime(2022, 10, 30, 0, 0)

datetime.date(2022, 12, 19)

In [22]:
# # activity_per_day

num_days_active = pd.DataFrame(
    activity_per_day
    [
        (activity_per_day.dt >= (dt - timedelta(days=30+ACTIVATION_WINDOW)).date())
        & (activity_per_day.dt <= (dt).date())
    ]
    .groupby(["email"])["dt"]
    .nunique()
).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise")
activated_users = num_days_active[num_days_active.num_days_active > num_days_active_threshold]
# TODO: we should be doing this to calculate "activated" users on both of the dataframes separately
# activated_users


activity_per_day = activity_per_day[activity_per_day.email.isin(activated_users.email)]

In [23]:
# max(events_df.dt), min(events_df.dt)
# max(activity_per_day.dt), min(activity_per_day.dt)
# max(df_event_type_counts.dt), min(df_event_type_counts.dt)

In [24]:
# # import qgrid
# # from pandasgui import show
# # import tabloo
# import dtale
# # num_days_active.to_csv('num_days_active.csv')

In [25]:
activated_users_today = (
    activity_per_day
    [
        (activity_per_day.dt >= (dt - timedelta(days=ACTIVATION_WINDOW)).date())
        & (activity_per_day.dt <= (dt).date())
        & (activity_per_day.total_num_events > 0)
        # & (activity_per_day.total_num_events > 1)
    ]
)
# activated_users_today
activated_users_today.shape

# num_days_active = pd.DataFrame(
#     activated_users_today
#     .groupby(["email"])["dt"]
#     .nunique()
# ).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise")
# activated_users = num_days_active[num_days_active.num_days_active > num_days_active_threshold]

(809, 3)

In [26]:
min(activity_per_day.dt)
max(activity_per_day.dt)

datetime.date(2022, 10, 28)

datetime.date(2022, 12, 20)

In [27]:
activated_users_30_days_ago = (
    activity_per_day
    [
        (activity_per_day.dt >= (dt - timedelta(days=30+ACTIVATION_WINDOW)).date())
        & (activity_per_day.dt <= (dt - timedelta(days=30)).date())
        & (activity_per_day.total_num_events > 0)
        # & (activity_per_day.total_num_events > 1)
    ]
)

activated_users_30_days_ago.shape


# num_days_active = pd.DataFrame(
#     activated_users_30_days_ago
#     .groupby(["email"])["dt"]
#     .nunique()
# ).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise")
# activated_users = num_days_active[num_days_active.num_days_active > num_days_active_threshold]


# activated_users_30_days_ago = activated_users_30_days_ago[activated_users_30_days_ago.email.isin(activated_users.email)]
# activated_users_30_days_ago.shape

(413, 3)

In [28]:
s_activated_users_today = set(activated_users_today.email)
s_activated_users_30_days_ago = set(activated_users_30_days_ago.email)
churned_users = s_activated_users_30_days_ago.difference(s_activated_users_today)
users_retained = s_activated_users_30_days_ago.intersection(s_activated_users_today)
len(s_activated_users_today)
len(s_activated_users_30_days_ago)
len(churned_users)
len(users_retained)

103

49

10

39

In [29]:
len(users_retained)/len(s_activated_users_30_days_ago)

0.7959183673469388

In [30]:
'agaldy@standvast.com' in s_activated_users_30_days_ago
'agaldy@standvast.com' in churned_users

False

False

In [31]:
events_df[events_df.email == 'rob@vanta.com'].sort_values(['dt'])

,event_id,user_id,event_type,created_at,email,name,signup_dt_pst,ts_pst,dt
11401528,635cc1848fd2589644eacbcf,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-10-29 06:00:36.887,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-10-28 23:00:36.887000-07:00,2022-10-28
11401091,635cc955adc35c88cbae602f,634d6957f6a8432dcc2d5b27,api_hit_/tasks/fetch/,2022-10-29 06:33:57.070,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-10-28 23:33:57.070000-07:00,2022-10-28
11401090,635cc955adc35c88cbae6031,634d6957f6a8432dcc2d5b27,api_hit_/tasks/v3/,2022-10-29 06:33:57.414,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-10-28 23:33:57.414000-07:00,2022-10-28
11399673,635ce7b3adc35c88cbae6887,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-10-29 08:43:31.030,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-10-29 01:43:31.030000-07:00,2022-10-29
11398459,635cfaa48fd2589644eae197,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-10-29 10:04:20.974,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-10-29 03:04:20.974000-07:00,2022-10-29
...,...,...,...,...,...,...,...,...,...
5601379,6384b8492e9c097db9fd7920,634d6957f6a8432dcc2d5b27,api_hit_/tasks/v3/,2022-11-28 13:31:53.855,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-11-28 05:31:53.855000-08:00,2022-11-28
5601378,6384b849f04b2799ef1c6db0,634d6957f6a8432dcc2d5b27,api_hit_/overview/views/,2022-11-28 13:31:53.890,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-11-28 05:31:53.890000-08:00,2022-11-28
5601281,6384b8862e9c097db9fd7993,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-11-28 13:32:54.848,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-11-28 05:32:54.848000-08:00,2022-11-28
5601279,6384b8872e9c097db9fd7995,634d6957f6a8432dcc2d5b27,api_hit_/overview/views/,2022-11-28 13:32:55.115,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-11-28 05:32:55.115000-08:00,2022-11-28
5513771,6384f7bf3bbbc3b8b5c03399,634d6957f6a8432dcc2d5b27,api_hit_/overview/views/,2022-11-28 18:02:39.228,rob@vanta.com,Rob Picard,2022-10-17 07:40:23.695000-07:00,2022-11-28 10:02:39.228000-08:00,2022-11-28

In [32]:
activity_per_day[activity_per_day.email == 'mmcconnell@nextdoor.com']

                         email          dt  total_num_events
28315  mmcconnell@nextdoor.com  2022-11-10               473
28355  mmcconnell@nextdoor.com  2022-11-11               141
28370  mmcconnell@nextdoor.com  2022-11-12                54
28387  mmcconnell@nextdoor.com  2022-11-13               203
28407  mmcconnell@nextdoor.com  2022-11-14               247
28430  mmcconnell@nextdoor.com  2022-11-15                42
28437  mmcconnell@nextdoor.com  2022-11-16                26
28456  mmcconnell@nextdoor.com  2022-11-17               130
28463  mmcconnell@nextdoor.com  2022-11-18                31
28482  mmcconnell@nextdoor.com  2022-11-20                38
28493  mmcconnell@nextdoor.com  2022-11-21               119
28513  mmcconnell@nextdoor.com  2022-11-22               193

In [33]:
(
    activity_per_day[activity_per_day.email.isin(churned_users)]
    .sort_values(['email', 'dt'])
).to_csv('churned_users_correct_5_days.csv')

# Scratch

In [34]:
# df_daily_event_counts = (
#     df_event_type_counts
#     .groupby(["dt", "name"])
#     .agg(total_num_events=('num_events', 'sum'))
#     .sort_values(["dt", "total_num_events"], ascending=[True, False])

# )
# df_daily_event_counts

In [35]:
# df_daily_event_counts.to_csv("./user_daily_event_counts.csv")

In [36]:
# set(df_event_type_counts.event_type)