In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import argparse
import os
from datetime import date, datetime, timedelta
from pprint import pprint

# import dash_auth
import mpld3
import numpy as np
import pandas as pd
import plotly.express as px
import pytz
# from dash import Dash, dcc, html
# from plotnine import *
from pymongo import MongoClient

import sys
sys.path.append("./app/")
from log import get_logger

In [2]:
# ACTIVITY_COOLOFF_MINS = 10
# NUM_SESSIONS_THRESHOLD = 5
LOOKBACK_PERIOD_DAYS = 30
ACTIVATION_WINDOW = 20

# SESSION_COUNT_THRESHOLDS = [1, 3, 5]
CONNECTION_TEMPLATE = """mongodb://{user}:{password}@cluster0-shard-00-00.dbkij.mongodb.net:27017,cluster0-shard-00-01.dbkij.mongodb.net:27017,cluster0-shard-00-02.dbkij.mongodb.net:27017/myFirstDatabase?authSource=admin&replicaSet=atlas-xn7hxv-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true"""
logger = get_logger(__name__)

mongo_user = os.getenv("MONGO_USER")
mongo_password = os.getenv("MONGO_PASSWORD")
if not mongo_user or not mongo_password:
    logger.fatal("MONGO_USER or MONGO_PASSWORD not set!")
    exit(1)

In [29]:
# dt = datetime.today().strftime("%Y-%m-%d")
# dt = datetime.strptime("2022-12-19", "%Y-%m-%d").strftime("%Y-%m-%d")
dt = datetime.strptime("2023-01-07", "%Y-%m-%d").strftime("%Y-%m-%d")

window = LOOKBACK_PERIOD_DAYS + ACTIVATION_WINDOW + 1

In [30]:
client = MongoClient(
    CONNECTION_TEMPLATE.format(user=mongo_user, password=mongo_password),
    unicode_decode_error_handler='ignore',
)

main_db = client.main
events_collection = main_db.log_events
user_collection = main_db.users


end = datetime.strptime(
    dt, "%Y-%m-%d").astimezone(pytz.timezone("US/Pacific"))

In [31]:
# print(end.date(), window)

In [32]:
# get user data

cursor = user_collection.find()
df_users_raw = pd.DataFrame(list(cursor))
df_users_raw = df_users_raw.rename(columns={"_id": "user_id"}, errors="raise")

In [33]:
df_users_raw["signup_dt_pst"] = df_users_raw.created_at.dt.tz_localize(
    pytz.utc).dt.tz_convert('US/Pacific').dt.date
df_users_raw

,user_id,google_id,email,name,last_refreshed,agreed_to_terms,opted_into_marketing,opted_out_of_arbitration,linear_display_name,linear_name,gpt_suggestions_left,gpt_last_suggestion_time,created_at,signup_dt_pst
0,61463e014cf3dfd537c399fb,114116384016626861905,john@generaltask.com,John Reinstra,2023-01-24 03:01:09.051,True,True,False,john,John Reinstra,2.0,2023-01-23 18:22:20.925,NaT,NaN
1,6146889f4cf3dfd537c8d987,104170065788087609074,jack_hamilton@me.com,Jack Hamilton,2023-01-21 00:48:28.715,True,True,False,jack,Jack Hamilton,2.0,2023-01-17 20:21:19.613,NaT,NaN
2,616cd20a2dbdcd0a7ba1642c,111430204519008294549,jreinstra@gmail.com,John Reinstra,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN
3,61722cb1e1abefac8feddc31,113114292399917872799,scottmai702@gmail.com,Scott Mai,2023-01-19 04:21:33.781,True,False,False,scott,Scott Mai,NaN,NaT,NaT,NaN
4,617343f4e1abefac8f00ab42,116261124166766317401,nolan1299@gmail.com,Nolan Jimenez,2023-01-18 15:55:57.524,True,True,False,nolan,Nolan Jimenez,NaN,NaT,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2710,63cf8b35e23a0c3c22eb3874,109672822307751529019,marco.calzolari@agilereloaded.it,Marco Calzolari,2023-01-24 08:45:06.525,True,False,NaN,,,2.0,2023-01-24 07:43:50.633,2023-01-24 07:39:33.321,2023-01-23
2711,63cf8c80e23a0c3c22ece312,106173321292223777232,raymond@thestartupx.com,Raymond Doraisamy,2023-01-24 08:44:49.257,True,False,NaN,,,0.0,1970-01-01 00:00:00.000,2023-01-24 07:45:04.724,2023-01-23
2712,63cf90afe23a0c3c22f234a0,112605429142190807896,bram.weterings@gmail.com,Bram Weterings,2023-01-24 08:03:07.584,True,False,NaN,,,0.0,1970-01-01 00:00:00.000,2023-01-24 08:02:55.132,2023-01-24
2713,63cf90fae23a0c3c22f29016,108132700009818843325,bandoilrom@gmail.com,Rom Bandoil,2023-01-24 08:06:29.110,True,True,NaN,,,0.0,1970-01-01 00:00:00.000,2023-01-24 08:04:10.269,2023-01-24
2714,63cf96fae23a0c3c22f9d9d4,104286871688234782545,neguine@gmail.com,Neguine Christensen,2023-01-24 08:31:34.838,True,True,NaN,,,2.0,2023-01-24 08:30:52.020,2023-01-24 08:29:46.337,2023-01-24

In [34]:
df_users = df_users_raw[["user_id", "email", "name", "signup_dt_pst"]].copy()
df_users["user_id"] = df_users["user_id"].astype(str)

print(df_users.shape)
df_users.head()

(2715, 4)

,user_id,email,name,signup_dt_pst
0,61463e014cf3dfd537c399fb,john@generaltask.com,John Reinstra,NaT
1,6146889f4cf3dfd537c8d987,jack_hamilton@me.com,Jack Hamilton,NaT
2,616cd20a2dbdcd0a7ba1642c,jreinstra@gmail.com,John Reinstra,NaT
3,61722cb1e1abefac8feddc31,scottmai702@gmail.com,Scott Mai,NaT
4,617343f4e1abefac8f00ab42,nolan1299@gmail.com,Nolan Jimenez,NaT

In [35]:
end - timedelta(days=window), end

(datetime.datetime(2022, 11, 16, 22, 0, tzinfo=<DstTzInfo 'US/Pacific' PST-1 day, 16:00:00 STD>),
 datetime.datetime(2023, 1, 6, 22, 0, tzinfo=<DstTzInfo 'US/Pacific' PST-1 day, 16:00:00 STD>))

In [36]:
# generate event level data

# query events table
date_filter = {"created_at": {
    "$gt": end - timedelta(days=window)
    , "$lt": end + timedelta(days=2)
}}
cursor = events_collection.find(date_filter)
events_df_raw = pd.DataFrame(list(cursor))
events_df_raw["user_id"] = events_df_raw["user_id"].astype(str)
print(events_df_raw.shape)

(10951986, 4)

In [37]:
# merge with users
events_df = events_df_raw.merge(df_users, on="user_id", how="left")
print(events_df.shape)

(10951986, 7)

In [38]:
# add PST timestamps and sort by user and timestamps
events_df = events_df.rename(columns={"_id": "event_id"}, errors="raise")
events_df["ts_pst"] = events_df.created_at.dt.tz_localize(
    pytz.utc).dt.tz_convert('US/Pacific')
events_df["dt"] = events_df.ts_pst.dt.date  # date in PST

print(events_df.shape)
events_df.head(3)

(10951986, 9)

,event_id,user_id,event_type,created_at,email,name,signup_dt_pst,ts_pst,dt
0,63bbad5e94346981bcba1de0,634083ef6d7d1744d01cc8d3,api_hit_/events/,2023-01-09 05:59:58.486,gian.filice@gmail.com,Gianfranco Filice,2022-10-07,2023-01-08 21:59:58.486000-08:00,2023-01-08
1,63bbad5eb4e748f6794b8aa4,634083ef6d7d1744d01cc8d3,api_hit_/events/,2023-01-09 05:59:58.485,gian.filice@gmail.com,Gianfranco Filice,2022-10-07,2023-01-08 21:59:58.485000-08:00,2023-01-08
2,63bbad57b4e748f6794b8aa0,62587d69ab75e6bfa2e919e9,api_hit_/events/,2023-01-09 05:59:51.250,hans@generaltask.com,Hans van de Bruggen,NaT,2023-01-08 21:59:51.250000-08:00,2023-01-08

In [39]:
# events_df.to_csv('events_df.csv')

# Event Counts by Type

In [40]:
background_events = [
    "api_hit_/events/",
    "api_hit_/tasks/fetch/",
    "api_hit_/tasks/v3/",
    "api_hit_/pull_requests/fetch/",
    "api_hit_/pull_requests/",
    "api_hit_/overview/views/",
    "api_hit_/recurring_task_templates/backfill_tasks/",
]

df_event_type_counts = (
    events_df
    # [~events_df.event_type.isin(background_events)]
    .groupby(["email", "dt", "event_type"])
    .agg(num_events=('event_id', 'count'))
    # .sort_values(["name", "dt", "num_events"], ascending=False)
    .reset_index()
)
df_event_type_counts.head(2)

,email,dt,event_type,num_events
0,127.0.0.69@gmail.com,2022-11-21,"""open_auth_window_https://api.generaltask.com/...",1
1,127.0.0.69@gmail.com,2022-11-21,"""open_auth_window_https://api.generaltask.com/...",1

In [41]:
df_event_type_counts["total_num_events"] = (
    df_event_type_counts
    .groupby(["dt", "email"])["num_events"]
    .transform(np.sum)
)
# df_event_type_counts["number_of_active_days"] = (
#     df_event_type_counts
#     .groupby(["email"])["num_events"]
#     .transform(np.sum)
# )
df_event_type_counts = (
    df_event_type_counts
    .sort_values(["dt", "total_num_events", "num_events"], ascending=[True, False, False])
)
df_event_type_counts.head()

,email,dt,event_type,num_events,total_num_events
35333,lea.broudo@zocdoc.com,2022-11-16,get_pull_request_info,9108,11486
35336,lea.broudo@zocdoc.com,2022-11-16,list_pull_requests,1140,11486
35335,lea.broudo@zocdoc.com,2022-11-16,github_pr_rate_limited,430,11486
35327,lea.broudo@zocdoc.com,2022-11-16,api_hit_/events/,233,11486
35328,lea.broudo@zocdoc.com,2022-11-16,api_hit_/overview/views/,171,11486

In [42]:
signup_start = (end - timedelta(days=20+30)).date()
signup_end = (end - timedelta(days=30)).date()
signup_start, signup_end

(datetime.date(2022, 11, 17), datetime.date(2022, 12, 7))

In [43]:
study_users = df_users[(df_users.signup_dt_pst >= signup_start) & (df_users.signup_dt_pst <= signup_end)]
study_users

,user_id,email,name,signup_dt_pst
296,637612671dcbb75bae22a7a8,davidmorais92@gmail.com,David Morais,2022-11-17
297,63764da91dcbb75bae30477a,agnidhrashim@gmail.com,Agnidhra Chakraborty,2022-11-17
298,63765a9f9637a3f95f5aecfc,stevenbiondo@gmail.com,Steven Biondo,2022-11-17
299,6376885e9637a3f95f706add,alex.dalyjohnson@gmail.com,Alessandra Daly Johnson,2022-11-17
300,6376941d9637a3f95f7628d3,roshan@chandna.com,Roshan Chandna,2022-11-17
...,...,...,...,...
854,6390339bd0113c070b04a283,andrea.wang@amplitude.com,Andrea Wang,2022-12-06
855,639047dfe004385fa8d498d0,giuliobrugnaro@gmail.com,Giulio Brugnaro,2022-12-06
856,63904a14e004385fa8d55a7e,thomas.countz@zendesk.com,Thomas Countz,2022-12-07
857,6390e7e1e004385fa8124e50,bwstearns@petaurus.co,Brian Stearns,2022-12-07
858,6390fdf5e004385fa81cc0e5,kaifangmingti@gmail.com,Molly Zh,2022-12-07

In [44]:
activity_per_day = (
    df_event_type_counts
    .drop_duplicates(['email', 'dt', 'total_num_events'])
    [['email', 'dt', 'total_num_events']]
    # .group
)
activity_per_day.head()

                              email          dt  total_num_events
35333         lea.broudo@zocdoc.com  2022-11-16             11486
40451           maz@generaltask.com  2022-11-16              1592
403    abishan.sutharshan@gmail.com  2022-11-16               718
34447       kumar3.pravin@gmail.com  2022-11-16               358
41328          micahdkim1@gmail.com  2022-11-16               255

In [45]:
study_activity_per_day = (
    activity_per_day[activity_per_day.email.isin(study_users.email)]
    .merge(df_users[['signup_dt_pst', 'email']], on="email", how="left")
)
study_activity_per_day.head()

                     email          dt  total_num_events signup_dt_pst
0       julian@heirloom.io  2022-11-17              3079    2022-11-17
1        llsamrj@gmail.com  2022-11-17              1412    2022-11-17
2  robi.kardinar@gmail.com  2022-11-17               995    2022-11-17
3       roshan@chandna.com  2022-11-17               751    2022-11-17
4        ach4825@gmail.com  2022-11-17               572    2022-11-17

In [46]:
study_activity_per_day['d1_date'] = study_activity_per_day['signup_dt_pst'] + timedelta(days=1)
study_activity_per_day['d7_date'] = study_activity_per_day['signup_dt_pst'] + timedelta(days=7)
study_activity_per_day['d28_date'] = study_activity_per_day['signup_dt_pst'] + timedelta(days=28)
study_activity_per_day.head()

,email,dt,total_num_events,signup_dt_pst,d1_date,d7_date,d28_date
0,julian@heirloom.io,2022-11-17,3079,2022-11-17,2022-11-18,2022-11-24,2022-12-15
1,llsamrj@gmail.com,2022-11-17,1412,2022-11-17,2022-11-18,2022-11-24,2022-12-15
2,robi.kardinar@gmail.com,2022-11-17,995,2022-11-17,2022-11-18,2022-11-24,2022-12-15
3,roshan@chandna.com,2022-11-17,751,2022-11-17,2022-11-18,2022-11-24,2022-12-15
4,ach4825@gmail.com,2022-11-17,572,2022-11-17,2022-11-18,2022-11-24,2022-12-15

In [47]:
study_activity_per_day['active_d1'] = study_activity_per_day['dt'] == study_activity_per_day['d1_date']
study_activity_per_day['active_d7'] = study_activity_per_day['dt'] == study_activity_per_day['d7_date']
study_activity_per_day['active_d28'] = study_activity_per_day['dt'] == study_activity_per_day['d28_date']
study_activity_per_day.head()

,email,dt,total_num_events,signup_dt_pst,d1_date,d7_date,d28_date,active_d1,active_d7,active_d28
0,julian@heirloom.io,2022-11-17,3079,2022-11-17,2022-11-18,2022-11-24,2022-12-15,False,False,False
1,llsamrj@gmail.com,2022-11-17,1412,2022-11-17,2022-11-18,2022-11-24,2022-12-15,False,False,False
2,robi.kardinar@gmail.com,2022-11-17,995,2022-11-17,2022-11-18,2022-11-24,2022-12-15,False,False,False
3,roshan@chandna.com,2022-11-17,751,2022-11-17,2022-11-18,2022-11-24,2022-12-15,False,False,False
4,ach4825@gmail.com,2022-11-17,572,2022-11-17,2022-11-18,2022-11-24,2022-12-15,False,False,False

In [48]:
len(study_users), min(study_users.signup_dt_pst), max(study_users.signup_dt_pst)

(563, datetime.date(2022, 11, 17), datetime.date(2022, 12, 7))

In [49]:
counts = (
    study_activity_per_day
    # .groupby('email')
    .sum()
)
counts[2:] / len(study_users) * 100

/var/folders/7t/5pqfnkqd5dn6p9p_16mntn240000gn/T/ipykernel_20095/373630630.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  study_activity_per_day

active_d1     31.793961
active_d7     11.722913
active_d28     4.795737
dtype: object

# Scratch

In [25]:
# df_daily_event_counts = (
#     df_event_type_counts
#     .groupby(["dt", "name"])
#     .agg(total_num_events=('num_events', 'sum'))
#     .sort_values(["dt", "total_num_events"], ascending=[True, False])

# )
# df_daily_event_counts

In [26]:
# df_daily_event_counts.to_csv("./user_daily_event_counts.csv")

In [27]:
# set(df_event_type_counts.event_type)