In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import argparse
import os
from datetime import date, datetime, timedelta
from pprint import pprint

import dash_auth
import mpld3
import numpy as np
import pandas as pd
import plotly.express as px
import pytz
from dash import Dash, dcc, html
# from plotnine import *
from pymongo import MongoClient

import sys
sys.path.append("./app/")
from log import get_logger

/Users/mazinbokhari/.pyenv/versions/3.8.13/lib/python3.8/site-packages/dash_auth/plotly_auth.py:16: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
/Users/mazinbokhari/.pyenv/versions/3.8.13/lib/python3.8/site-packages/dash_auth/plotly_auth.py:17: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc

In [2]:
# ACTIVITY_COOLOFF_MINS = 10
# NUM_SESSIONS_THRESHOLD = 5
LOOKBACK_PERIOD_DAYS = 30
ACTIVATION_WINDOW = 20

# SESSION_COUNT_THRESHOLDS = [1, 3, 5]
CONNECTION_TEMPLATE = """mongodb://{user}:{password}@cluster0-shard-00-00.dbkij.mongodb.net:27017,cluster0-shard-00-01.dbkij.mongodb.net:27017,cluster0-shard-00-02.dbkij.mongodb.net:27017/myFirstDatabase?authSource=admin&replicaSet=atlas-xn7hxv-shard-0&w=majority&readPreference=primary&appname=MongoDB%20Compass&retryWrites=true&ssl=true"""
logger = get_logger(__name__)

mongo_user = os.getenv("MONGO_USER")
mongo_password = os.getenv("MONGO_PASSWORD")
if not mongo_user or not mongo_password:
    logger.fatal("MONGO_USER or MONGO_PASSWORD not set!")
    exit(1)

In [3]:
# dt = datetime.today().strftime("%Y-%m-%d")
dt = datetime.strptime("2022-12-19", "%Y-%m-%d").strftime("%Y-%m-%d")

window = LOOKBACK_PERIOD_DAYS + ACTIVATION_WINDOW + 1

In [4]:
client = MongoClient(
    CONNECTION_TEMPLATE.format(user=mongo_user, password=mongo_password),
    unicode_decode_error_handler='ignore',
)

main_db = client.main
events_collection = main_db.log_events
user_collection = main_db.users


end = datetime.strptime(
    dt, "%Y-%m-%d").astimezone(pytz.timezone("US/Pacific"))

In [5]:
# print(end.date(), window)

In [6]:
# get user data

cursor = user_collection.find()
df_users = pd.DataFrame(list(cursor))
df_users = df_users.rename(columns={"_id": "user_id"}, errors="raise")
df_users = df_users[["user_id", "email", "name"]]
df_users["user_id"] = df_users["user_id"].astype(str)

print(df_users.shape)
df_users.head()

(972, 3)

                    user_id                  email           name
0  61463e014cf3dfd537c399fb   john@generaltask.com  John Reinstra
1  6146889f4cf3dfd537c8d987   jack_hamilton@me.com  Jack Hamilton
2  616cd20a2dbdcd0a7ba1642c    jreinstra@gmail.com  John Reinstra
3  61722cb1e1abefac8feddc31  scottmai702@gmail.com      Scott Mai
4  617343f4e1abefac8f00ab42    nolan1299@gmail.com  Nolan Jimenez

In [7]:
# generate event level data

# query events table
date_filter = {"created_at": {
    "$gt": end - timedelta(days=window)
    # , "$lt": end
}}
cursor = events_collection.find(date_filter)
events_df = pd.DataFrame(list(cursor))
events_df["user_id"] = events_df["user_id"].astype(str)
print(events_df.shape)

# merge with users
events_df = events_df.merge(df_users, on="user_id", how="left")
print(events_df.shape)

# add PST timestamps and sort by user and timestamps
events_df = events_df.rename(columns={"_id": "event_id"}, errors="raise")
events_df["ts_pst"] = events_df.created_at.dt.tz_localize(
    pytz.utc).dt.tz_convert('US/Pacific')
events_df["dt"] = events_df.ts_pst.dt.date  # date in PST

print(events_df.shape)
events_df.head(3)

(13101464, 4)
(13101464, 6)
(13101464, 8)

,event_id,user_id,event_type,created_at,email,name,ts_pst,dt
0,63b3882f503ae9754c171ced,62587d69ab75e6bfa2e919e9,api_hit_/events/,2023-01-03 01:43:11.976,hans@generaltask.com,Hans van de Bruggen,2023-01-02 17:43:11.976000-08:00,2023-01-02
1,63b3882f34a644ca89bfaffc,62587d69ab75e6bfa2e919e9,api_hit_/events/,2023-01-03 01:43:11.260,hans@generaltask.com,Hans van de Bruggen,2023-01-02 17:43:11.260000-08:00,2023-01-02
2,63b3882d503ae9754c171ceb,62587d69ab75e6bfa2e919e9,api_hit_/events/,2023-01-03 01:43:09.135,hans@generaltask.com,Hans van de Bruggen,2023-01-02 17:43:09.135000-08:00,2023-01-02

In [8]:
events_df.to_csv('events_df.csv')

# Event Counts by Type

In [9]:
background_events = [
    "api_hit_/events/",
    "api_hit_/tasks/fetch/",
    "api_hit_/tasks/v3/",
    "api_hit_/pull_requests/fetch/",
    "api_hit_/pull_requests/",
]

df_event_type_counts = (
    events_df
    [~events_df.event_type.isin(background_events)]
    .groupby(["email", "dt", "event_type"])
    .agg(num_events=('event_id', 'count'))
    # .sort_values(["name", "dt", "num_events"], ascending=False)
    .reset_index()
)
df_event_type_counts.head(2)

,email,dt,event_type,num_events
0,127.0.0.69@gmail.com,2022-11-21,"""open_auth_window_https://api.generaltask.com/...",1
1,127.0.0.69@gmail.com,2022-11-21,"""open_auth_window_https://api.generaltask.com/...",1

In [10]:
df_event_type_counts["total_num_events"] = (
    df_event_type_counts
    .groupby(["dt", "email"])["num_events"]
    .transform(np.sum)
)
# df_event_type_counts["number_of_active_days"] = (
#     df_event_type_counts
#     .groupby(["email"])["num_events"]
#     .transform(np.sum)
# )
df_event_type_counts = (
    df_event_type_counts
    .sort_values(["dt", "total_num_events", "num_events"], ascending=[True, False, False])
)
df_event_type_counts.head()

,email,dt,event_type,num_events,total_num_events
19255,jerrylinew@gmail.com,2022-10-28,api_hit_/overview/views/,26,31
19252,jerrylinew@gmail.com,2022-10-28,api_hit_/linked_accounts/,1,31
19253,jerrylinew@gmail.com,2022-10-28,api_hit_/linked_accounts/supported_types/,1,31
19254,jerrylinew@gmail.com,2022-10-28,api_hit_/overview/supported_views/,1,31
19256,jerrylinew@gmail.com,2022-10-28,api_hit_/settings/,1,31

In [11]:
# df_event_type_counts.to_csv("./user_daily_events_by_type_all_types.csv")

In [12]:
num_days_active_threshold = 4


# dt = datetime.today()
dt = datetime.strptime("2022-12-19", "%Y-%m-%d")



print('dt', (dt).strftime("%Y-%m-%d"))
print('dt - 20 days', (dt - timedelta(days=20)).strftime("%Y-%m-%d"))

print('dt - 30 days', (dt - timedelta(days=30)).strftime("%Y-%m-%d"))
print('dt - 30 - 20', (dt - timedelta(days=30+ACTIVATION_WINDOW)).strftime("%Y-%m-%d"))

min(df_event_type_counts.dt)
max(df_event_type_counts.dt)

dt 2022-12-19
dt - 20 days 2022-11-29
dt - 30 days 2022-11-19
dt - 30 - 20 2022-10-30

datetime.date(2022, 10, 28)

datetime.date(2023, 1, 2)

In [13]:
activity_per_day = (
    df_event_type_counts
    .drop_duplicates(['email', 'dt', 'total_num_events'])
    [['email', 'dt', 'total_num_events']]
    # .group
)
# activity_per_day['num_days_active'] = (
#     activity_per_day
#     .groupby(["email"])["dt"]
#     .nunique()
# )
activity_per_day

                             email          dt  total_num_events
19255         jerrylinew@gmail.com  2022-10-28                31
19261         jerrylinew@gmail.com  2022-10-29               737
12253  garyshen.garyshen@gmail.com  2022-10-29               217
37309           npolgado@gmail.com  2022-10-29               108
33090          maz@generaltask.com  2022-10-29                27
...                            ...         ...               ...
11162         emily@atlantic.money  2023-01-02                58
32356        marco@generaltask.com  2023-01-02                54
13351        gian.filice@gmail.com  2023-01-02                37
4226       bradley@newbridgemg.com  2023-01-02                31
17309       iankaufman80@gmail.com  2023-01-02                 1

[3238 rows x 3 columns]

In [14]:
activity_per_day

                             email          dt  total_num_events
19255         jerrylinew@gmail.com  2022-10-28                31
19261         jerrylinew@gmail.com  2022-10-29               737
12253  garyshen.garyshen@gmail.com  2022-10-29               217
37309           npolgado@gmail.com  2022-10-29               108
33090          maz@generaltask.com  2022-10-29                27
...                            ...         ...               ...
11162         emily@atlantic.money  2023-01-02                58
32356        marco@generaltask.com  2023-01-02                54
13351        gian.filice@gmail.com  2023-01-02                37
4226       bradley@newbridgemg.com  2023-01-02                31
17309       iankaufman80@gmail.com  2023-01-02                 1

[3238 rows x 3 columns]

In [15]:
# num_days_active = pd.DataFrame(
#     activity_per_day
#     .groupby(["email"])["dt"]
#     .nunique()
# ).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise").sort_values(['num_days_active'], ascending=False)
# num_days_active['days_usage_perc'] = num_days_active.num_days_active / (max(activity_per_day.dt) - min(activity_per_day.dt)).days
# # dtale.show(num_days_active)
# num_days_active.head()

In [16]:
# # activity_per_day

num_days_active = pd.DataFrame(
    activity_per_day
    [
        (activity_per_day.dt >= (dt - timedelta(days=30+ACTIVATION_WINDOW)).date())
        & (activity_per_day.dt <= (dt).date())
    ]
    .groupby(["email"])["dt"]
    .nunique()
).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise")
activated_users = num_days_active[num_days_active.num_days_active > num_days_active_threshold]
# TODO: we should be doing this to calculate "activated" users on both of the dataframes separately
# activated_users


activity_per_day = activity_per_day[activity_per_day.email.isin(activated_users.email)]

In [17]:
# max(events_df.dt), min(events_df.dt)
# max(activity_per_day.dt), min(activity_per_day.dt)
# max(df_event_type_counts.dt), min(df_event_type_counts.dt)

In [18]:
# # import qgrid
# # from pandasgui import show
# # import tabloo
# import dtale
# # num_days_active.to_csv('num_days_active.csv')

In [19]:
activated_users_today = (
    activity_per_day
    [
        (activity_per_day.dt >= (dt - timedelta(days=ACTIVATION_WINDOW)).date())
        & (activity_per_day.dt <= (dt).date())
        & (activity_per_day.total_num_events > 0)
        # & (activity_per_day.total_num_events > 1)
    ]
)
# activated_users_today
activated_users_today.shape

# num_days_active = pd.DataFrame(
#     activated_users_today
#     .groupby(["email"])["dt"]
#     .nunique()
# ).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise")
# activated_users = num_days_active[num_days_active.num_days_active > num_days_active_threshold]

(940, 3)

In [20]:
min(activity_per_day.dt)
max(activity_per_day.dt)

datetime.date(2022, 10, 28)

datetime.date(2023, 1, 2)

In [21]:
activated_users_30_days_ago = (
    activity_per_day
    [
        (activity_per_day.dt >= (dt - timedelta(days=30+ACTIVATION_WINDOW)).date())
        & (activity_per_day.dt <= (dt - timedelta(days=30)).date())
        & (activity_per_day.total_num_events > 0)
        # & (activity_per_day.total_num_events > 1)
    ]
)

activated_users_30_days_ago.shape


# num_days_active = pd.DataFrame(
#     activated_users_30_days_ago
#     .groupby(["email"])["dt"]
#     .nunique()
# ).reset_index().rename(columns={"dt": "num_days_active"}, errors="raise")
# activated_users = num_days_active[num_days_active.num_days_active > num_days_active_threshold]


# activated_users_30_days_ago = activated_users_30_days_ago[activated_users_30_days_ago.email.isin(activated_users.email)]
# activated_users_30_days_ago.shape

(434, 3)

In [22]:
s_activated_users_today = set(activated_users_today.email)
s_activated_users_30_days_ago = set(activated_users_30_days_ago.email)
churned_users = s_activated_users_30_days_ago.difference(s_activated_users_today)
users_retained = s_activated_users_30_days_ago.intersection(s_activated_users_today)
len(s_activated_users_today)
len(s_activated_users_30_days_ago)
len(churned_users)
len(users_retained)

109

50

11

39

In [23]:
len(users_retained)/len(s_activated_users_30_days_ago)

0.78

In [24]:
'agaldy@standvast.com' in s_activated_users_30_days_ago
'agaldy@standvast.com' in churned_users

False

False

In [25]:
events_df[events_df.email == 'rob@vanta.com'].sort_values(['dt'])

,event_id,user_id,event_type,created_at,email,name,ts_pst,dt
13101451,635cc1848fd2589644eacbcf,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-10-29 06:00:36.887,rob@vanta.com,Rob Picard,2022-10-28 23:00:36.887000-07:00,2022-10-28
13101014,635cc955adc35c88cbae602f,634d6957f6a8432dcc2d5b27,api_hit_/tasks/fetch/,2022-10-29 06:33:57.070,rob@vanta.com,Rob Picard,2022-10-28 23:33:57.070000-07:00,2022-10-28
13101013,635cc955adc35c88cbae6031,634d6957f6a8432dcc2d5b27,api_hit_/tasks/v3/,2022-10-29 06:33:57.414,rob@vanta.com,Rob Picard,2022-10-28 23:33:57.414000-07:00,2022-10-28
13099596,635ce7b3adc35c88cbae6887,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-10-29 08:43:31.030,rob@vanta.com,Rob Picard,2022-10-29 01:43:31.030000-07:00,2022-10-29
13098382,635cfaa48fd2589644eae197,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-10-29 10:04:20.974,rob@vanta.com,Rob Picard,2022-10-29 03:04:20.974000-07:00,2022-10-29
...,...,...,...,...,...,...,...,...
7301302,6384b8492e9c097db9fd7920,634d6957f6a8432dcc2d5b27,api_hit_/tasks/v3/,2022-11-28 13:31:53.855,rob@vanta.com,Rob Picard,2022-11-28 05:31:53.855000-08:00,2022-11-28
7301301,6384b849f04b2799ef1c6db0,634d6957f6a8432dcc2d5b27,api_hit_/overview/views/,2022-11-28 13:31:53.890,rob@vanta.com,Rob Picard,2022-11-28 05:31:53.890000-08:00,2022-11-28
7301204,6384b8862e9c097db9fd7993,634d6957f6a8432dcc2d5b27,api_hit_/events/,2022-11-28 13:32:54.848,rob@vanta.com,Rob Picard,2022-11-28 05:32:54.848000-08:00,2022-11-28
7301202,6384b8872e9c097db9fd7995,634d6957f6a8432dcc2d5b27,api_hit_/overview/views/,2022-11-28 13:32:55.115,rob@vanta.com,Rob Picard,2022-11-28 05:32:55.115000-08:00,2022-11-28
7213694,6384f7bf3bbbc3b8b5c03399,634d6957f6a8432dcc2d5b27,api_hit_/overview/views/,2022-11-28 18:02:39.228,rob@vanta.com,Rob Picard,2022-11-28 10:02:39.228000-08:00,2022-11-28

In [26]:
activity_per_day[activity_per_day.email == 'mmcconnell@nextdoor.com']

                         email          dt  total_num_events
34952  mmcconnell@nextdoor.com  2022-11-10               980
34995  mmcconnell@nextdoor.com  2022-11-11               833
35011  mmcconnell@nextdoor.com  2022-11-12               770
35029  mmcconnell@nextdoor.com  2022-11-13              2176
35050  mmcconnell@nextdoor.com  2022-11-14              2468
35074  mmcconnell@nextdoor.com  2022-11-15               498
35082  mmcconnell@nextdoor.com  2022-11-16               223
35091  mmcconnell@nextdoor.com  2022-11-17               778
35110  mmcconnell@nextdoor.com  2022-11-18               262
35122  mmcconnell@nextdoor.com  2022-11-20               283
35135  mmcconnell@nextdoor.com  2022-11-21               780
35152  mmcconnell@nextdoor.com  2022-11-22               566

In [27]:
(
    activity_per_day[activity_per_day.email.isin(churned_users)]
    .sort_values(['email', 'dt'])
).to_csv('churned_users_correct_5_days.csv')

# Scratch

In [28]:
# df_daily_event_counts = (
#     df_event_type_counts
#     .groupby(["dt", "name"])
#     .agg(total_num_events=('num_events', 'sum'))
#     .sort_values(["dt", "total_num_events"], ascending=[True, False])

# )
# df_daily_event_counts

In [29]:
# df_daily_event_counts.to_csv("./user_daily_event_counts.csv")

In [30]:
# set(df_event_type_counts.event_type)